body {

    background: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
}

.bg {

    background: rgb(235, 234, 234);
}

.cards {

    height: 75svh;
}

.evenly {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* UTILITY CLASSESS */
.left {

    text-align: left;
}

.attention {

    font-weight: bold;
}

.label {

    cursor: pointer;
    height: 100%;
}

.content img {

    height: 70svh;
    width: 30vw;
}

.horz img {

    width: 70svh !important;
    height: 30vw !important;
} 

.dropdown .closed {

    height: 2svh !important;
}

.dropdown {

    height: auto;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

.contacts:hover, .contacts:hover * {

    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.closed, .closed * {

    height: 0;
    width: 0;
    overflow: hidden;
    transform-origin: top;
    visibility: hidden;
}

.content {

    transition: ease-in-out 500ms;
    height: 90svh;
    width: 100%;
    padding: 0 1rem 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}