body {

    background: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
}


p {

    text-align: center;
    color: red;
}

#para1 {

    text-align: center;
    color: blue;
}

.center {

    text-align: center;
    color: green;
}

.about {

    text-align: center;
    color: blue;
}

/* UTILITY CLASSESS */
.left {

    text-align: left;
}

.green {

    color: green;
}

.attention {

    font-weight: bold;
}