body {

    background: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
}

p {

    text-align: center;
    color: red;
}

#para1 {

    text-align: center;
    color: blue;
}

.center {

    text-align: center;
    color: green;
}

.about {

    text-align: center;
    color: blue;
}
